*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 14px;
}

p{
    color:#808080 ;
    font-size: 18px;
}

.container {
    width: 80%;
    margin: auto;
}
/*********
Header 
**********/

#site_header{
    height: 550px;
    background-color: #0C325A;
    background-image: url(../assets/img/background-header.png);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 120% 110%;
    position: relative;
}

nav{
    height: 50px;
}

.logo{
    width: 15%;
    float: left;
    margin-top: 10px;
}

.left_menu{
    width: 45%;
}

.right_menu{
    width: 40%;
    text-align: right;
}

.left_menu, .right_menu{
    float:left;
    margin-top: 10px;
}

.left_menu ul li, .right_menu ul li{
    display: inline-block;
    list-style: none;
}

.left_menu ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    padding: 0 10px;
    line-height: 50px;
}

.right_menu ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 50px;
}

.btn{
    border-radius: 5px;
}

.btn_empty{
    padding: 10px 30px;
    border: 1px solid white;
    margin: 0 20px;
}

.btn_full{
    padding: 10px 10px;
    background-color: #7CBB02;
}

.btn_empty:hover{
    background-color: white;
    color: #0C325A;
}

.btn_full:hover{
    background-color: white;
    color: #7CBB02;
}

/* Hero menu */

.hero_menu{
    position: absolute;
    bottom: 200px;
    width: 45%;
}
.hero_menu h2{
    font-size: 3rem;
    margin-bottom: 40px;
}

.hero_menu a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.hero_btn{
    padding: 15px 15px;
    background-color: #7CBB02;
}

.hero_btn:hover{
    background-color: white;
    color: #7CBB02;
}
/*********
Main
**********/

.top_bar{
    height: 145px;
    background-color: #D3D3D3;
    width: 100%;
    text-align: center;
}

.top_bar h3{
    color: black;
    font-size: 1.5rem;
    padding-top: 40px ;
    padding-bottom: 15px;
}

/* Three columns */

.col_left, .col_cent, .col_right{
    height: 550px;
    float: left;
    width: 28%;
    margin: 10px 15px;
    text-align: center;
}

.col_left img, .col_cent img, .col_right img{
    height: 180px;
    margin-top: 30px;
}

.col_left h3, .col_cent h3, .col_right h3{
    color: #7CBB02;
    margin-top: 20px;
    font-size: 1.3rem;
}

.line::after{
    background-color: #808080;
    content: '';
    width: 50px;
    height: 1px;
    display: block;
    margin: 20px auto;
}


.col_left p, .col_cent p, .col_right p{
    font-size: 14px;
    line-height: 25px;
}

/* Two columns */

/*********
Footer
**********/