*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 14px;
}

/*********
Header 
**********/
#site_header{
    height: 550px;
    background-color: #0C325A;
    background-image: url(../assets/img/background-header.png);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 110% 110%;
}

nav{
    width: 80%;
    margin: auto;
    height: 50px;
}

.logo{
    width: 15%;
    float: left;
    margin-top: 10px;
}

.left_menu{
    width: 45%;
}

.right_menu{
    width: 40%;
    text-align: right;
}

.left_menu, .right_menu{
    float:left;
    margin-top: 10px;
}

.left_menu ul li, .right_menu ul li{
    display: inline-block;
    list-style: none;
}

.left_menu ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    padding: 0 10px;
    line-height: 50px;
}

.right_menu ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 50px;
}

.btn{
    border-radius: 5px;
}

.btn_empty{
    padding: 10px 30px;
    border: 1px solid white;
    margin: 0 20px;
}

.btn_full{
    padding: 10px 10px;
    background-color: #7CBB02;
}

.btn_empty:hover{
    background-color: white;
    color: #0C325A;
}

.btn_full:hover{
    background-color: white;
    color: #7CBB02;
}
/*********
Main
**********/




/*********
Footer
**********/